@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer base {
  .hover-outlined {
    @apply bg-black bg-opacity-5 dark:bg-white dark:bg-opacity-5 hover:bg-opacity-10 dark:hover:bg-opacity-10 dark:active:bg-opacity-15 active:bg-opacity-15;
  }
  .btn-outlined {
    @apply flex items-center p-1 transition-all duration-200 border rounded-md border-light-tertiary border-opacity-15 dark:border-dark-quinary dark:border-opacity-15 hover-outlined;
  }
  .list-link {
    @apply transition-all duration-200 border-2 border-black border-opacity-0 rounded-md cursor-pointer active:bg-black active:bg-opacity-5 focus:bg-opacity-0 active:border-opacity-100 dark:active:border-white max-w-max md:hover:text-black md:dark:hover:text-white;
  }
  .btn-primary {
    @apply text-white bg-gradient-to-r md:hover:bg-gradient-to-l active:bg-gradient-to-l md:active:bg-gradient-to-r from-blue to-blue-lt;
  }
  .btn-secondary {
    @apply text-white bg-orange hover:bg-orange-hv;
  }

  .opacity-line {
    @apply border-light-tertiary border-opacity-15 dark:border-dark-quinary dark:border-opacity-15;
  }

  .list {
    @apply flex;
  }

  .hr-border {
    @apply border-light-tertiary border-opacity-20 dark:border-dark-quinary dark:border-opacity-20;
  }

  @media only screen and (min-width: 768px) {
    .list:hover .list-link {
      opacity: 0.5;
    }
    .list .list-link:hover {
      opacity: 1;
    }
  }
}

@layer components {
  .hi-there {
    width: '100%';
    height: auto;
    background: url(../assets/dot.png) 50% repeat;
  }
  .about-me {
    width: '100%';
    height: auto;
    background: url(../assets/tokyo_city.jpg) 50% no-repeat;
    background-size: cover;
  }
  .say-hello {
    width: '100%';
    height: auto;
    background: url(../assets/deer.jpg) 50% no-repeat;
    background-size: cover;
  }
}

@layer utilities {
  .arrows {
    @apply transition-all duration-100 transform scale-50 text-light-quaternary active:scale-75 md:active:scale-50 md:hover:scale-75;
    width: 75px;
    height: 65px;
  }
  .arrows polygon {
    @apply fill-current animate-arrow-pulse;
  }
  .arrows polygon.arrow-top {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
  }
  .arrows polygon.arrow-middle {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
  }
  .arrows polygon.arrow-bottom {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
  }

  .gradient-txt {
    background-image: linear-gradient(
      -92deg,
      #050505 0%,
      #ec633a 29%,
      #1056c9 67%,
      #65676b 100%
    );
    color: '#fff';
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-vertical-rl {
    writing-mode: vertical-rl;
  }
}
